
html, body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/*--- Grid ---*/

#main-header {
  width: 100%;
  font-size: 24px;
}

#app {
  width: 100%;
  height: 100%;
}

.forty-col {
  position: relative;
  top: 0;
/*  display: inline-block;*/
  width: 40%;
  height:100%;
  padding: 10px;
}

.sixty-col {
  position: relative;
  top: 0;
/*  display: inline-block;*/
  width: 60%;
  height: 100%;
  padding: 10px;
}


/*-- Message --*/

#message {
  height: 50px;
  font-size: 30px;
  text-align: center;
  padding: 5px 20px;
}

/*--- Chessboards ---*/

#chessboards {
  padding: 0px 10px;
  width: 100%;
}

.board {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 0px 10px;
  width: 50%;
  margin: 0;
}

.board table {
  /*display: table;*/
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.square {
  border: 1px solid black;
  position: relative;
}

.square:after {
  content:'';
  display: block;
  margin-top: 100%;
}

.square .queen {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('https://storybookstorage.s3.amazonaws.com/items/images/000/009/781/original/AristocratCrown_Transparent_brightgold.png?1416928158');
  background-size: 100%;
  background-repeat: no-repeat;

}

.light-square {
  background-color: green;
}

.dark-square {
  background-color: blue;
}

.conflict {
  opacity: 0.1;
}


/*-- Stacks --*/

#stacks {
  border: 4px solid black;
  margin-top: 20px;
  min-height: 720px;
}
#stacks,
#stacks table,
#stacks-scaffold {
  width: 100%;
  height:100%;
}

#stacks-scaffold td {
  border-width: 0;
}

.stack-col {
  display: inline-block;
  width: 16.66%;
  height: 100%;
  border-width: 0;
  padding: 0;
}

.stack-block {
  width: 100%;
  height: 12.5%;
  min-height: 90px;
  font-size: 12px;
  line-height: 80%;
}

.stack-block table {
  width: 100%;
  table-layout: fixed;
}

.hidden-block {
  font-size: 18px;
  text-align: center;
  background-color: white;
}

.hidden-block span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: auto;
  margin-left: auto;
  color: black;
}

/*.light-block {
  opacity: 40%;
}*/

.dark-block {
  color: white;
  background-color: inherit;
}

#col-1 {
  background-color: yellow;
}

#col-2 {
  background-color: orange;
}

#col-3 {
  background-color: red;
}

#col-4 {
  background-color: purple;
}

#col-5 {
  background-color: blue;
  color: grey;
}

#col-6 {
  background-color: green;
}


/*-- Code Window --*/

#code-window {
  margin: 20px;
  padding: 5px;
  background-color: #DDDDDD;
}

/*-- OuterVars Table --*/

#outervars,
#outervars table {
  width: 100%;
  font-size: 20px;
  background-color: #8D699D;
  font-weight: bold;
}


/*-- Preload queen image --*/

#preload-image {
  visibility: hidden;
  background-image: url('https://storybookstorage.s3.amazonaws.com/items/images/000/009/781/original/AristocratCrown_Transparent_brightgold.png?1416928158')
}